{% extends "base.html" %}
{% block content %}

<div class="wrapper">
    <div >
        <h1>About Slash</h1>
    </div>
    <br>
    <p>Slash is a simple tool which makes URLs as short as possible.
        <br>
        <br>
        With Slash, you can:
        <br>
        <ul>
        <li>Customize your shortened URLs.</li>
        <li>Generate QR codes for your shortened URLs.</li>
        <li>Track your shortened URL's performance.</li>
        <li>View how many visits your shortened URL has received. </li>
        <li>See the history of URLs you have created so that you can easily find and reuse them.</li>
        </ul>
    </p>
</div>
</div>
{% endblock content %}


