{% extends "base.html" %}
{% block content %}
{% if current_user.is_authenticated %}
    <form method="post" action="{{url_for('index')}}">
        <div class="wrapper">
            <div>
                <label for="url">Original URL</label>
                <br>
                <input type="url" name="original_url" placeholder="Enter original URL" class="form-control" ></input>
            </div>
            <br>
            <div>
                <button type="submit" class="">Shorten</button>
                </div>
        </div>
   </form>
   {% if short_url %}
        <div class="short-url">
            <input type="text" id="short-url" value="{{ short_url }}" readonly>
            <button id="copy-link-btn">Copy Link</button>
        </div>
    {% endif %}
{% else %}
<div class="wrapper">
    <h1 class="centrer">Welcome to Slash</h1>
    <br>
    <br>
    <button class="button"><a href="{{url_for('signup')}}">Get Started</a></button>
</div>
{% endif %}
{% endblock content %} 

